@model NoorGeneralHospital.Areas.Admin.Models.Entities.Speciality
@{
    ViewBag.Title = "_AddSpeciality";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title">Add/Edit Speciality</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            @using (Html.BeginForm("_AddEditSpeciality", "Speciality", FormMethod.Post, new { enctype = "multipart/from-data" }))
            {
                @Html.HiddenFor(s=>s.Id)
            <div class="form-group">
                    <label>Speciality Name</label>
                    @Html.TextBoxFor(s => s.SpecialityName, new { @class = "form-control", @placeholder = "Enter Speciality" })
                </div>
                <div class="form-group">
                    <label class="display-block">Speciality Status</label>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(s => s.IsActive,true,new { @class = "form-check-input", @name = "status", @id = "speciality_active" })
                        <label class="form-check-label" for="speciality_active">
                            Active
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(s => s.IsActive, false, new { @class = "form-check-input", @name = "status", @id = "speciality_inactive" })
                        <label class="form-check-label" for="speciality_inactive">
                            Inactive
                        </label>
                    </div>
                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn" id="BtnSaveSpeciality">Create Speciality</button>
                </div>
            }
        </div>
    </div>

