@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div id="_AddEditSpeciality"></div>
    <div id="_SpecialityDetail"></div>
</div>

<script src="~/Areas/Admin/Content/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/Areas/Admin/Scripts/Speciality/Speciality.js"></script>