<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Noor Hospital</title>
    @Styles.Render("~/Content/css")
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            height: 100%;
            background-size: 100% 100%;
            background-image: url('/Content/assets/svg/loginbg.svg');
            background-size: cover;
            background-color: none !important;
        }
    </style>
</head>

<body>
    <div class="main-wrapper account-wrapper">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
