@using Microsoft.AspNet.Identity;

@{
    if (User.Identity.IsAuthenticated)
    {
        string mailAddress = this.User.Identity.Name;
        char atSign = '@';
        string user = mailAddress.Split(atSign)[0]; // hello

        <p> @user </p>

        @*if (HttpContext.Current.User.IsInRole("Admin"))
        {
            <a href="~/Dashboard/Index" class="btn btn_pink btn btn-sm" title="Admin">Admin</a>
        }*@
        using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()
            <button class="btn btn-dark" type="submit"> Logout </button>
        }
    }
    else
    {
        <p>Account Login </p>
        <a href="~/Account/Login" title="Admin">Login</a>
    }
}

