@*@model List<NoorGeneralHospital.Models>*@

<div class="drop-scroll">
    <ul class="notification-list">
        <li class="notification-message">
            <a href="activities.html">
                <div class="media">
                    <span class="avatar">
                        <img alt="John Doe" src="~/Content/assets/img/user.jpg" class="img-fluid rounded-circle">
                    </span>
                    <div class="media-body">
                        <p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
                        <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
