@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Error";
}


<div class="text-center">
    <h2>Error Details</h2>
</div>
<br />
<p>
    @Html.ActionLink("Back to Login", "Login", null, new { @class = "btn btn-secondary" })
</p>

<div class="alert alert-danger" role="alert">
    @ViewBag.ErrorMessage
</div>