
@{
    ViewBag.Title = "SingleDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start of .header-bottom-4 -->
<header class="header-bottom-4">
    <img src="~/Content/User//assets/images/banner/banner5.jpg">
    <div class="header-bottom-4__bg">
        <div class="icon">
            <img src="~/Content/User/assets/images/banner/banner-shape.png">
        </div>
    </div>
    <div class="container">
        <h1 class="section-title">  <span>Dr.Mohib ur Rehman </span></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="">Our Doctors</a></li>
            <li class="breadcrumb-item active">Details</li>
        </ol>
    </div>
</header>
<!-- End of .header-bottom-4 -->
<!-- Start of .doctors -->
<section class="doctors main-blog">
    <div class="main-blog__bg">
        <div class="icon">
            <img src="~/Content/User/assets/images/png-shapes/form-shape.png">
        </div>
        <div class="icon">
            <img src="~/Content/User/assets/images/png-shapes/specialists__left-bottom-shape.png">
        </div>
    </div>
    <div class="container container_right-sidebar">
        <div class="article">
            <div class="doctors-block">
                <div class="img">
                    <img src="~/Content/assets/img/doctors/Dr  Mohib Ur Rehman.jpeg">
                </div>
                <div class="content">
                    <table>
                        <thead>
                        <th colspan="2">
                            <h3 class="title">Dr  Mohib Ur Rehman    </h3>
                            @*<h5 class="profession">Neurosurgical </h5>*@
                        </th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Speciality</th>
                                <td>
                                    Neurosurgical
                                </td>
                            </tr>
                            <tr>
                                <th>Areas of Expertise:</th>
                                <td>
                                    MBBS, MS
                                    Consultant Neuro & Spine surgeon
                                </td>
                            </tr>
                            <tr>
                                <th>Years of Practice:</th>
                                <td>10 years</td>
                            </tr>
                            <tr>
                                <th>Working Time:</th>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Mon-Saturday</td>
                                            <td>06:00 PM-10:00 PM</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                             
                            <tr>
                                <th>Contacts:</th>
                                <td>
                                    <a href="tel:051-2362315">051-2362315 <br />  0310-5575802</a><br>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-share-alt"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="doctors-text">
                <h1 class="list-title">Dr  Mohib Ur Rehman  has to the following  key services:</h1>
                <p class="text">
                    Lower Backache,
                    Headache,
                    Migraine,
                    Dementia,
                    Parkinsonism,
                    Bell’s Palsy,
                    Muscular Weakness,
                    Alzheimeres,
                    Epilepsy,
                    Spine fixation.

                </p>
                @*<h1 class="list-title">Dr  Mohib Ur Rehman  has to the following  key services:</h1>
        <ul class="list">
            <li class="list-item"><i class="fa fa-check"></i> Lower Backache</li>
            <li class="list-item"><i class="fa fa-check"></i> 	Headache</li>
            <li class="list-item"><i class="fa fa-check"></i> 	Migraine</li>
            <li class="list-item"><i class="fa fa-check"></i> 	Dementia</li>
            <li class="list-item"><i class="fa fa-check"></i> 	Parkinsonism</li>
            <li class="list-item"><i class="fa fa-check"></i> 	Bell’s Palsy</li>
            <li class="list-item"><i class="fa fa-check"></i> 	Muscular Weakness</li>
            <li class="list-item"><i class="fa fa-check"></i> 	Alzheimeres</li>
            <li class="list-item"><i class="fa fa-check"></i> 	 Epilepsy</li>
            <li class="list-item"><i class="fa fa-check"></i> 	 Spine fixation</li>
        </ul>*@
            </div>
          

        </div>
        <div class="sidebar">
            <div class="doctors-sidebar">
                <div class="work-hours">
                    <h1 class="title">work hours</h1>
                    <ul class="lists">
                        <li class="list-item">
                            <span class="date">Mon-Sat</span>
                            <span class="time">06:00 PM-10:00 PM</span>
                        </li>
                        <li class="list-item">
                            <span class="date">Sunday</span>
                            <span class="time">Off</span>
                        </li>
                    </ul>
                </div>
                <div class="appointment">
                    <h1 class="title">Book an appointment</h1> 
                    <div class="d-flex justify-content-center ">
                        <button type="submit" class="btn btn_pink">book now</button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
<!-- End of .doctors -->
