
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/css/dataTables.bootstrap4.min.css">

<div class="content">
    <div id="_locationPartialView"></div>
</div>
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/CustomScripts/Location/Location.js"></script>

