
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap-datetimepicker.min.css">
<div class="content">
    <div id="_DoctorPartialView"></div>
</div>
<script src="~/Content/assets/js/jquery-3.4.1.min.js"></script>
<script src="~/Content/assets/js/moment.min.js"></script>
<script src="~/Content/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/CustomScripts/Doctor/Doctor.js"></script>

