
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div id="_DoctorPartialView"></div>
</div>
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/CustomScripts/Doctor/Doctor.js"></script>
